<div class="rating" *ngIf="viewOnly === false">
  <input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
  <label title="Great" (click)='onClick(5)'>5 stars</label>

  <input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
  <label title="Good" (click)='onClick(4)'>4 stars</label>

  <input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
  <label title="Okay" (click)='onClick(3)'>3 stars</label>

  <input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
  <label title="bad" (click)='onClick(2)'>2 stars</label>

  <input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
  <label title="Very bad" (click)='onClick(1)'>1 star</label>
</div>
<div class="rating" *ngIf="viewOnly === true">
  <input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
  <label title="Great">5 stars</label>

  <input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
  <label title="Good">4 stars</label>

  <input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
  <label title="Okay">3 stars</label>

  <input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
  <label title="bad">2 stars</label>

  <input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
  <label title="Very bad">1 star</label>
</div>