<div class="content">
  <div class="user-header" fxLayout="row wrap" [ngStyle.xs]="{'margin-top': '0px'}" [ngStyle.sm]="{'margin-top': '0px'}">
    <div class="user-info-container" fxLayout="row" fxFlex="60">
      <div class="photo-container" fxFlex="1 1 150px">
        <div class="user-img drop-shadow" [ngStyle]="{'background-image': userPhoto}" [ngStyle.xs]="{'width': '75px', 'height': '75px'}" [ngStyle.sm]="{'width': '100px', 'height': '100px'}"></div>
      </div>
      <div class="user-info">
        <div class="user-name">{{user?.NameFirst}} {{user?.NameLast}}</div>
        <a class="user-clinic" routerLink="/clinic/{{user?.clinic?.ClinicID}}">{{user?.clinic?.ClinicLongName}}</a>
        <div *ngIf="showStars === true">
          <app-star-rating [rating]="4" [viewOnly]="true"></app-star-rating>
        </div>
      </div>
    </div>
    <div fxFlex="40">
      <div class="noti-container">
        <div class="noti-header" fxLayout="row" fxLayoutAlign="end end">
          <div class="noti-type-title" fxFlex>
            <span *ngIf="activeNoti === 'notifications'">Notifications</span>
            <span *ngIf="activeNoti === 'users'">Upcoming Patients</span>  
          </div>
          <div class="noti-type" fxFlex="75px">
            <button class="noti-button" mat-icon-button [ngClass]="{'active': activeNoti === 'users'}" (click)="activeNoti = 'users'">
              <fa-icon [icon]="faUsers" size="3x"></fa-icon>
            </button>
          </div>
          <!-- <div class="noti-type" fxFlex="75px">
            <button class="noti-button" mat-icon-button [ngClass]="{'active': activeNoti === 'notifications'}" (click)="activeNoti = 'notifications'">
              <fa-icon [icon]="faBell" size="3x"></fa-icon>
            </button>
          </div> -->
        </div>
        <mat-divider style="border-top-width: 2px;"></mat-divider>
        <div class="noti-content" *ngIf="activeNoti === 'users'">
          <mat-list>
            <mat-list-item *ngFor="let patient of upcommingPatients">
              <img matListAvatar src="{{patient.photo}}" alt="patient photo">
              <h3 matLine style="color: #FFF;">{{patient.NameFirst}} {{patient.NameLast}}</h3>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container" style="margin-top:0px;">
    <app-card-list [type]="'patient'" (eventList)="getEvents($event)" (patientList)="getPatients($event)" [admin]="admin"></app-card-list>    
  </div>
  <div class="section-container" fxLayout="row wrap" fxLayoutAlign="space-between">
    <div class="appointment-section card-shadow" fxFlex [ngStyle.xs]="{'margin-left': '12px', 'margin-right': '6px'}" [ngStyle.sm]="{'margin-left': '15px', 'margin-right': '15px'}">
      <div fxLayout="column">
        <div class="appointment-header" fxLayout="row" fxFlex="1 1 auto">
          <div class="module-logo" fxFlex="0 0 75px">
            <fa-icon [icon]="faCalendarCheck" size="3x" [inverse]="true"></fa-icon>
          </div>
          <div class="header-text" fxFlex="1 1 auto">Patient Events</div>
        </div>
        <mat-divider style="width: 100%"></mat-divider>
        <div class="content" fxFlex="1 1 auto">
          <mat-table #table [dataSource]="dataSource" class="mat-elevation-z2">
            <ng-container matColumnDef="desc">
              <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.EventName}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.EventDate | date: 'mediumDate'}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="time">
              <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.EventTime}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="patient">
              <mat-header-cell *matHeaderCellDef>Patient</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.patient.firstname}} {{element.patient.lastname}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </div>
    </div>
    <div class="analytics-section card-shadow" fxFlex [ngStyle.xs]="{'margin-left': '12px', 'margin-right': '6px'}" [ngStyle.sm]="{'margin-left': '15px', 'margin-right': '15px'}">
      <div fxLayout="column">
        <div class="appointment-header" fxLayout="row" fxFlex="1 1 auto">
          <div class="module-logo" fxFlex="0 0 75px">
            <fa-icon [icon]="faChartBar" size="3x" [inverse]="true"></fa-icon>
          </div>
          <div class="header-text" fxFlex="1 1 auto">Patient Analytics</div>
        </div>
        <mat-divider style="width: 100%"></mat-divider>
        <div class="content center-align" fxFlex="1 1 auto">
          <div class="patients-chart-container">
            <canvas baseChart [data]="chartData" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions" [chartType]="chartType"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>