<div class="content">
  <div class="user-header" fxLayout="row wrap" [ngStyle.xs]="{'margin-top': '0px'}" [ngStyle.sm]="{'margin-top': '0px'}">
    <div class="user-info-container" fxLayout="row" fxFlex="60">
      <div class="photo-container" fxFlex="1 1 150px">
        <div class="user-img drop-shadow" [ngStyle]="{'background-image': userPhoto}" [ngStyle.xs]="{'width': '75px', 'height': '75px'}" [ngStyle.sm]="{'width': '100px', 'height': '100px'}"></div>
      </div>
      <div class="user-info">
        <div class="user-name">{{user?.NameFirst}} {{user?.NameLast}}</div>
        <a class="user-clinic" [routerLink]="['/clinic/1']">CareLine Clinic</a>
      </div>
    </div>
    <div fxFlex="40">
      <div class="noti-container">
        <div class="noti-header" fxLayout="row" fxLayoutAlign="end end">
          <div class="noti-type-title" fxFlex>
            <span *ngIf="activeNoti === 'notifications'">Notifications</span>
            <span *ngIf="activeNoti === 'users'">Upcomming Patients</span>  
          </div>
          <div class="noti-type" fxFlex="75px">
            <button class="noti-button" mat-icon-button [ngClass]="{'active': activeNoti === 'users'}" (click)="activeNoti = 'users'">
              <fa-icon [icon]="faUsers" size="3x"></fa-icon>
            </button>
          </div>
          <div class="noti-type" fxFlex="75px">
            <button class="noti-button" mat-icon-button [ngClass]="{'active': activeNoti === 'notifications'}" (click)="activeNoti = 'notifications'">
              <fa-icon [icon]="faBell" size="3x"></fa-icon>
            </button>
          </div>
        </div>
        <mat-divider style="border-top-width: 2px;"></mat-divider>
        <div class="noti-content">
          <mat-list>
            <mat-list-item></mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container">
    <app-card-list [type]="'patient'" [admin]="false"></app-card-list>    
  </div>
  <div class="section-container" fxLayout="row wrap" fxLayoutAlign="space-between">
    <div class="appointment-section card-shadow" fxFlex="50" [ngStyle.xs]="{'margin-left': '12px', 'margin-right': '6px'}" [ngStyle.sm]="{'margin-left': '15px', 'margin-right': '15px'}">
      <div fxLayout="column">
        <div class="appointment-header" fxLayout="row" fxFlex="1 1 auto">
          <div class="module-logo" fxFlex="0 0 75px">
            <fa-icon [icon]="faCalendarCheck" size="3x" [inverse]="true"></fa-icon>
          </div>
          <div class="header-text" fxFlex="1 1 auto">Appointments</div>
        </div>
        <mat-divider style="width: 100%"></mat-divider>
        <div class="content" fxFlex="1 1 auto">
          <mat-table [dataSource]="dataSource" class="mat-elevation-z2">
            <ng-container matColumnDef="desc">
              <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.desc}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="patient">
              <mat-header-cell *matHeaderCellDef>Patient</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.patient}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </div>
    </div>
    <div fxFlex="30">
      <div fxLayout="column">
        <div fxFlex>
          <mat-button-toggle-group #group="matButtonToggleGroup" value="age">
            <mat-button-toggle (change)="changeChart($event.value)" value="age">Age</mat-button-toggle>
            <mat-button-toggle (change)="changeChart($event.value)" value="gender">Gender</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div fxFlex>
          <div class="patients-chart-container">
            <canvas height="400px" width="400px" id="patientsChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container">

  </div>
</div>