.patient-header {
  margin-top: 36px;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  align-items: center;

  .photo-container {
    margin-right: 15px;
    flex: 0 1 auto;
  
    .user-img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      background-image: url('/src/assets/images/people/duke.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: 2px solid #61da97;
    }
  }

  .patient-info-container {
    .patient-info {
      flex: 1 1 auto;
      align-self: flex-start;
    }

    .patient-name {
      font-size: 35px;
      font-weight: 600;
      color: #FFF;
      text-shadow: 1px 1px 1px #000;
      margin: 12px 0px 12px 0px;
    }

    .patient-clinic {
      font-size: 22px;
      color: #FFF;
      text-shadow: 1px 1px 1px #000;
    }
  }
}

.patient-content {
  padding: 15px;

  .note-section {
    background-color: #FFF;
    padding: 15px;
    margin: 15px 30px 25px 30px;

    .header {
      padding: 6px 12px 6px 12px;
      height: 50px;

      .header-text {
        font-size: 28px;
        margin-left: -40px;
      }
    }

    .content {
      margin: 15px;

      mat-form-field {
        width: 100%;
      }
    }
  }

  .info-section {
    padding: 15px;
    background-color: #FFF;
  }
}

.module-logo {
  width: 75px;
  height: 75px;
  position: relative;
  top: -50px;
  left: -50px;
  border: 2px solid #61da97;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  background-color: #04376a;
  z-index: 2;
  -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.6));

  fa-icon {
    margin: auto;
    padding-bottom: 3px;
  }
}

.module-logo:after {
  z-index: -1;
  width: 75px;
  height: 70px;
  border: 1px solid #000;
  border-radius: 50%;
  -webkit-filter: drop-shadow(-3px 2px 2px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(-5px 2px 2px rgba(0, 0, 0, 1));
}

.patient-cal {
  background-color: #FFF;
  height: 175px;

  .patient-cal-header {
    .patient-cal-cell {
      border: 1px solid #CCC;
    }
  }

  .patient-cal-body {
    .patient-cal-cell {
      border: 1px solid #CCC;
    }
  }
}
