.patient-header {
  margin-top: 36px;
  margin-bottom: 12px;
  padding: 12px;
  display: flex;
  align-items: center;

  .photo-container {
    margin: 0px 12px 0px 12px;
    flex: 0 1 auto;
  
    .user-img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      background-image: url('/src/assets/images/people/duke.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: 2px solid #61da97;
    }
  }

  .patient-info-container {
    flex: 1 1 auto;
    align-self: flex-start;

    .patient-name {
      font-size: 28px;
      color: #FFF;
    }
  }
}

.patient-content {
  .note-section {
    background-color: #FFF;
    padding: 12px;
  }

  .info-section {
    padding: 12px;
  }
}

.content {
  margin-left: 12px;
  margin-right: 12px;
}

