<div class="content">
  <div class="patient-header">
    <div class="photo-container">
      <div class="user-img drop-shadow"></div>
    </div>
    <div class="patient-info-container">
      <h1 class="patient-name">Duke</h1>
    </div>
  </div>
  <div class="patient-content" fxLayout="row" fxLayoutGap="12px">
    <div class="note-section" fxFlex="1 1 auto">
      <mat-form-field>
        <textarea matInput placeholder="Daily Notes"></textarea>
      </mat-form-field>
    </div>
    <div class="info-section" fxFlex="1 1 auto">
      
    </div>
  </div>
</div>
