<div class="content">
  <div class="patient-header" fxLayout="row wrap" [ngStyle.xs]="{'margin-top': '0px'}" [ngStyle.sm]="{'margin-top': '0px'}">
    <div class="patient-info-container" fxLayout="row" fxFlex="1 1 auto">
      <div class="photo-container" fxFlex="1 1 150px">
        <div class="user-img drop-shadow" [ngStyle.xs]="{'width': '75px', 'height': '75px'}" [ngStyle.sm]="{'width': '100px', 'height': '100px'}">
        </div>
      </div>
      <div class="patient-info" fxFlex="1 1 200px">
        <div class="patient-name">Duke</div>
        <div class="patient-clinic">CareLine Clinic</div>
      </div>
    </div>
    <div class="patient-cal-container" fxFlex="1 1 auto">
      <div class="patient-cal">
        
      </div>
    </div>
  </div>
  <div class="patient-content" fxLayout="row wrap">
    <div class="note-section card-shadow" fxFlex="1 1 auto" [ngStyle.xs]="{'margin-left': '12px', 'margin-right': '6px'}" [ngStyle.sm]="{'margin-left': '15px', 'margin-right': '15px'}">
      <div fxLayout="column">
        <div class="header" fxLayout="row" fxFlex="1 1 auto">
          <div class="module-logo" fxFlex="0 0 75px">
            <fa-icon [icon]="faInfo" size="3x" [inverse]="true"></fa-icon>
          </div>
          <div class="header-text" fxFlex="1 1 auto">Patient Information</div>
        </div>
        <div class="content" fxFlex="1 1 auto">
          <mat-form-field>
            <textarea matInput placeholder="Note"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="note-section card-shadow" fxFlex="1 1 auto" [ngStyle.xs]="{'margin-left': '12px', 'margin-right': '6px'}" [ngStyle.sm]="{'margin-left': '15px', 'margin-right': '15px'}">
      <div fxLayout="column">
        <div class="header" fxLayout="row" fxFlex="1 1 auto">
          <div class="module-logo" fxFlex="0 0 75px">
            <fa-icon [icon]="faNotesMedical" size="3x" [inverse]="true"></fa-icon>
          </div>
          <div class="header-text" fxFlex="1 1 auto">Medical Notes</div>
        </div>
        <div class="content" fxFlex="1 1 auto">
          <mat-form-field>
            <textarea matInput placeholder="Note"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- <div class="info-section card-shadow" fxFlex="1 1 auto">
      
    </div> -->
  </div>
</div>