.patient-header {
  margin: 0px 12px 15px 12px;
  padding: 15px;
  display: flex;
  align-items: flex-start;

  .photo-container {
    margin-right: 15px;
    flex: 0 1 auto;

    .user-img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      background-image: url('/assets/images/people/patients/duke.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: 2px solid #61da97;
    }
  }

  .patient-info-container {
    .patient-info {
      flex: 1 1 auto;
      align-self: flex-start;
      padding-left: 12px;
    }

    .patient-name {
      font-size: 35px;
      font-weight: 600;
      color: #FFF;
      text-shadow: 1px 1px 1px #000;
      margin: 12px 0px 12px 0px;
    }

    .patient-clinic {
      font-size: 22px;
      color: #FFF;
      text-shadow: 1px 1px 1px #000;
    }
  }
}

.patient-content {
  padding: 15px;

  .note-section {
    padding: 15px;
    margin: 15px 30px 25px 30px;

    .header {
      padding: 6px 12px 6px 12px;
      height: 50px;

      .header-text {
        font-size: 30px;
        margin-left: -40px;
        color: #000;
      }

      .header-text-inverse {
        font-size: 30px;
        margin-left: -40px;
        color: #FFF;
        text-shadow: 1px 1px 1px #000;
      }

      .create-btn {
        position: relative;
        top: -6px;
        right: -10px;
      }
    }

    .content {
      margin: 15px;

      mat-form-field {
        width: 100%;
      }
    }
  }

  .info-section {
    background-color: #FFF;
    padding: 15px;
    margin: 15px 30px 25px 30px;
    max-height: 425px;

    .header {
      padding: 6px 12px 6px 12px;
      height: 50px;

      .header-text {
        font-size: 28px;
        margin-left: -40px;
        color: #000;
      }
    }

    .content {
      margin: 15px;

      .info-label {
        font-weight: 600;
        margin-right: 12px;
      }

      .section-header {
        margin: 12px 0px 6px 0px;
        color: #000;
      }
    }
  }
}

.module-logo {
  width: 75px;
  height: 75px;
  position: relative;
  top: -50px;
  left: -50px;
  border: 2px solid #61da97;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  background-color: #04376a;
  z-index: 2;
  -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.6));

  fa-icon {
    margin: auto;
    padding-bottom: 3px;
  }
}

.module-logo.medical {
  top: -20px;
}

.module-logo:after {
  z-index: -1;
  width: 75px;
  height: 70px;
  border: 1px solid #000;
  border-radius: 50%;
  -webkit-filter: drop-shadow(-3px 2px 2px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(-5px 2px 2px rgba(0, 0, 0, 1));
}

.patient-cal {
  min-height: 175px;

  .patient-cal-header {
    background-color: #FFF;

    .patient-cal-cell {
      border: 1px solid #999;
      color: #000;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .patient-cal-body {
    background-color: #FFF;

    .patient-cal-cell {
      border: 1px solid #999;
      color: #000;
      overflow-y: auto;
    }

    .patient-cal-cell::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #F5F5F5;
    }

    .patient-cal-cell::-webkit-scrollbar {
      width: 7px;
      background-color: #F5F5F5;
    }

    .patient-cal-cell::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: #ccc;
    }
  }
}

.mood-radio {
  padding: 0px 10px;
}

.note-list {
  width: 500px;
  max-width: 100%;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.note-box-new {
  min-height: 200px;
  max-height: 500px;
  border: solid 1px #ccc;
  margin: 15px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #FFF;
  border-radius: 4px;
  z-index: 1;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

  .radio-group-label {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 6px;
  }

  form {
    width: 100%;
    padding: 15px 30px;
  }

  .footer {
    padding-top: 30px;
  }
}

.note-box {
  min-height: 200px;
  max-height: 300px;
  border: solid 1px #ccc;
  margin: 15px;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background: #FFF;
  border-radius: 4px;
  z-index: 1;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

  .title {
    font-size: 24px;
    padding: 15px;
    margin-top: 6px;
  }

  .divider {
    width: 100%;
  }

  .body {
    padding: 6px;
  }

  .mood-icon {
    position: absolute;
    align-self: flex-start;
    padding: 15px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.content.cdk-drop-list-dragging .note-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.schedule-container {
  padding: 15px;
}