<div class="card-list-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px;" *ngIf="type === 'patient'">
  <mat-card class="item-card" *ngFor="let item of activeList" fxFlex="28" (click)="goToPatient(item)">
    <div class="item-img drop-shadow" [ngStyle]="{'background-image': item.img}"></div>
    <div class="card-content">
      <mat-card-title>{{ item.fn }} {{ item.ln }}</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="card-info-container" fxLayout="column" fxLayoutGap="8px">
          <div fxFlex ng-if="item.clinic">
            <b>Clinic:</b> {{item.clinic}}
          </div>
          <div fxFlex ng-if="item.height">
            <b>Height:</b> {{item.height}}
          </div>
          <div fxFlex ng-if="item.weight">
            <b>Weight:</b> {{item.weight}}
          </div>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
<div class="card-list-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px;" *ngIf="type === 'caretaker'">
  <mat-card class="item-card" *ngFor="let item of activeList" fxFlex="28" (click)="goToCaretaker(item)">
    <div class="item-img drop-shadow" [ngStyle]="{'background-image': item.img}"></div>
    <div class="card-content">
      <mat-card-title>{{ item.fn }} {{ item.ln }}</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="card-info-container" fxLayout="column" fxLayoutGap="8px">
          <div fxFlex ng-if="item.clinic">
            <b>Clinic:</b> {{item.clinic}}
          </div>
          <div fxFlex ng-if="item.height">
            <b>Height:</b> {{item.height}}
          </div>
          <div fxFlex ng-if="item.weight">
            <b>Weight:</b> {{item.weight}}
          </div>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>