.schedule-container {
  padding: 0 15px;
}

.schedule-header {
  background-color: #FFF;
  border: 1px solid #CCC;

  .header-cell {
    height: 50px;
    color: #333;
    font-weight: 600;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
  }
}

.schedule-body {
  background-color: #FFF;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;

  .body-cell {
    height: 175px;
    overflow-y: scroll;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
  }
}