<div>
  <div class="header-row" fxLayout="row" fxLayoutAlign="start center">
    <div class="header-text" fxFlex="1 1 auto">Schedule</div>
    <button mat-raised-button color="primary" (click)="addEvent()">Add Event</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="70px" class="button-container">
      <button mat-icon-button (click)="prevWeek()">
        <fa-icon [icon]="faAngleLeft" size="5x"></fa-icon>
      </button>
    </div>
    <div fxFlex class="schedule-container card-shadow">
      <div class="schedule-header" fxLayout="row">
        <button mat-raised-button class="header-cell" fxFlex fxLayout="column" [ngClass]="{'active': activeDayNum === i}" fxLayoutAlign="center center" *ngFor="let day of week; let i = index" (click)="getDay(day)">
          <div fxFlex style="flex-direction: column;">
            <div class="main">{{day | date: 'EEEE'}}</div>
            <div fxFlex class="sub" style="font-size: 14px;">{{day | date: 'mediumDate'}}</div>
          </div>
        </button>
      </div>
      <div class="schedule-body" fxLayout="row">
        <div class="body-cell" fxFlex>
          <mat-list role="list" *ngIf="weekEvents.sunday.length === 0">
            <mat-list-item role="listitem">No Events</mat-list-item>
          </mat-list>
          <mat-list role="list" *ngIf="weekEvents.sunday.length !== 0">
            <mat-list-item role="listitem" *ngFor="let event of weekEvents.sunday">{{event?.EventName}}</mat-list-item>          
          </mat-list>
        </div>
        <div class="body-cell" fxFlex>
          <mat-list role="list" *ngIf="weekEvents.monday.length === 0">
            <mat-list-item role="listitem">No Events</mat-list-item>
          </mat-list>
          <mat-list role="list" *ngIf="weekEvents.monday.length !== 0">
            <mat-list-item role="listitem" *ngFor="let event of weekEvents.monday">{{event?.EventName}}</mat-list-item>          
          </mat-list>
        </div>
        <div class="body-cell" fxFlex>
          <mat-list role="list" *ngIf="weekEvents.tuesday.length === 0">
            <mat-list-item role="listitem">No Events</mat-list-item>
          </mat-list>
          <mat-list role="list" *ngIf="weekEvents.tuesday.length !== 0">
            <mat-list-item role="listitem" *ngFor="let event of weekEvents.tuesday">{{event?.EventName}}</mat-list-item>          
          </mat-list>
        </div>
        <div class="body-cell" fxFlex>
          <mat-list role="list" *ngIf="weekEvents.wednesday.length === 0">
            <mat-list-item role="listitem">No Events</mat-list-item>
          </mat-list>
          <mat-list role="list" *ngIf="weekEvents.wednesday.length !== 0">
            <mat-list-item role="listitem" *ngFor="let event of weekEvents.wednesday">{{event?.EventName}}</mat-list-item>          
          </mat-list>
        </div>
        <div class="body-cell" fxFlex>
          <mat-list role="list" *ngIf="weekEvents.thursday.length === 0">
            <mat-list-item role="listitem">No Events</mat-list-item>
          </mat-list>
          <mat-list role="list" *ngIf="weekEvents.thursday.length !== 0">
            <mat-list-item role="listitem" *ngFor="let event of weekEvents.thursday">{{event?.EventName}}</mat-list-item>          
          </mat-list>
        </div>
        <div class="body-cell" fxFlex>
          <mat-list role="list" *ngIf="weekEvents.friday.length === 0">
            <mat-list-item role="listitem">No Events</mat-list-item>
          </mat-list>
          <mat-list role="list" *ngIf="weekEvents.friday.length !== 0">
            <mat-list-item role="listitem" *ngFor="let event of weekEvents.friday">{{event?.EventName}}</mat-list-item>          
          </mat-list>
        </div>
        <div class="body-cell" fxFlex>
          <mat-list role="list" *ngIf="weekEvents.saturday.length === 0">
            <mat-list-item role="listitem">No Events</mat-list-item>
          </mat-list>
          <mat-list role="list" *ngIf="weekEvents.saturday.length !== 0">
            <mat-list-item role="listitem" *ngFor="let event of weekEvents.saturday">{{event?.EventName}}</mat-list-item>          
          </mat-list>
        </div>
      </div>
    </div>
    <div fxFlex="70px" class="button-container">
      <button mat-icon-button (click)="nextWeek()">
        <fa-icon [icon]="faAngleRight" size="5x"></fa-icon>
      </button>
    </div>
  </div>
</div>