.schedule-container {
  margin: 15px;
}

.header-row {
  margin: 0px 85px;

  .header-text {
    font-size: 30px;
    font-weight: 600;
    text-shadow: 1px 1px 1px #000;
  }
}

.schedule-header {
  background-color: #FFF;

  .header-cell {
    height: 60px;
    padding: 10px 0px 6px 0px;
    color: #333;
    font-weight: 600;
    line-height: 1.2em;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0px;

    .main {
      font-size: 16px;
      padding-bottom: 6px;
    }

    .sub {
      font-size: 14px;
      font-weight: 500;
    }
  }

  // .header-cell:hover {
  //   cursor: pointer; 
  //   border: 1px solid #04376a;
  // }

  .header-cell.active {
    background-color: #04376a;
    border-color: #04376a;
    color: #FFF;
  }
}

.schedule-body {
  background-color: #FFF;

  .body-cell {
    height: 175px;
    box-shadow: inset 0px 3px 4px -1px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    overflow-y: auto;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
  }

  .body-cell.active {
    border: 2px solid #61da97;
  }
}

.body-cell::-webkit-scrollbar {
  width: 0.5em;
}

.body-cell::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.body-cell::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.button-container {
  text-align: center;

  button {
    width: 70px;
    height: 70px;
  }
}