<div>
  <div class="header-row" fxLayout="row" fxLayoutAlign="start center">
    <div class="header-text" fxFlex="1 1 auto">Schedule</div>
    <button mat-raised-button color="primary" (click)="addEvent()">Add Event</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="70px" class="button-container">
      <button mat-icon-button (click)="prevWeek()">
        <fa-icon [icon]="faAngleLeft" size="5x"></fa-icon>
      </button>
    </div>
    <div fxFlex class="schedule-container card-shadow">
      <div class="schedule-header" fxLayout="row">
        <div class="header-cell" [ngClass]="{'active': activeDay === i}" fxFlex fxLayout="column" fxLayoutAlign="center center" *ngFor="let day of week; let i = index">
          <div fxFlex class="main">{{day | date: 'EEEE'}}</div>
          <div fxFlex class="sub" style="font-size: 14px;">{{day | date: 'mediumDate'}}</div>
        </div>
      </div>
      <div class="schedule-body" fxLayout="row">
        <div class="body-cell" fxFlex>
          <mat-list role="list">
            <mat-list-item role="listitem">Appointment 1</mat-list-item>
            <mat-list-item role="listitem">Appointment 2</mat-list-item>
            <mat-list-item role="listitem">Appointment 3</mat-list-item>
          </mat-list>
        </div>
        <div class="body-cell" fxFlex>
          <mat-list role="list">
            <mat-list-item role="listitem">Appointment 1</mat-list-item>
            <mat-list-item role="listitem">Appointment 2</mat-list-item>
            <mat-list-item role="listitem">Appointment 3</mat-list-item>
          </mat-list>
        </div>
        <div class="body-cell" fxFlex>
          <mat-list role="list">
            <mat-list-item role="listitem">Appointment 1</mat-list-item>
            <mat-list-item role="listitem">Appointment 2</mat-list-item>
            <mat-list-item role="listitem">Appointment 3</mat-list-item>
          </mat-list>
        </div>
        <div class="body-cell" fxFlex>
          <mat-list role="list">
            <mat-list-item role="listitem">Appointment 1</mat-list-item>
            <mat-list-item role="listitem">Appointment 2</mat-list-item>
            <mat-list-item role="listitem">Appointment 3</mat-list-item>
          </mat-list>
        </div>
        <div class="body-cell" fxFlex>
          <mat-list role="list">
            <mat-list-item role="listitem">Appointment 1</mat-list-item>
            <mat-list-item role="listitem">Appointment 2</mat-list-item>
            <mat-list-item role="listitem">Appointment 3</mat-list-item>
          </mat-list>
        </div>
        <div class="body-cell" fxFlex>
          <mat-list role="list">
            <mat-list-item role="listitem">Appointment 1</mat-list-item>
            <mat-list-item role="listitem">Appointment 2</mat-list-item>
            <mat-list-item role="listitem">Appointment 3</mat-list-item>
          </mat-list>
        </div>
        <div class="body-cell" fxFlex>
          <mat-list role="list">
            <mat-list-item role="listitem">Appointment 1</mat-list-item>
            <mat-list-item role="listitem">Appointment 2</mat-list-item>
            <mat-list-item role="listitem">Appointment 3</mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
    <div fxFlex="70px" class="button-container">
      <button mat-icon-button (click)="nextWeek()">
        <fa-icon [icon]="faAngleRight" size="5x"></fa-icon>
      </button>
    </div>
  </div>
</div>