<div class="schedule-container card-shadow">
  <div class="schedule-header" fxLayout="row" >
    <div class="header-cell" fxFlex fxLayoutAlign="center center">Monday</div>
    <div class="header-cell" fxFlex fxLayoutAlign="center center">Tuesday</div>
    <div class="header-cell" fxFlex fxLayoutAlign="center center">Wednesday</div>
    <div class="header-cell" fxFlex fxLayoutAlign="center center">Thursday</div>
    <div class="header-cell" fxFlex fxLayoutAlign="center center">Friday</div>
    <div class="header-cell" fxFlex fxLayoutAlign="center center">Saturday</div>
    <div class="header-cell" fxFlex fxLayoutAlign="center center">Sunday</div>
  </div>
  <div class="schedule-body" fxLayout="row">
    <div class="body-cell" fxFlex>
      <mat-list role="list">
        <mat-list-item role="listitem">Appointment 1</mat-list-item>
        <mat-list-item role="listitem">Appointment 2</mat-list-item>
        <mat-list-item role="listitem">Appointment 3</mat-list-item>
      </mat-list>
    </div>
    <div class="body-cell" fxFlex>
      <mat-list role="list">
        <mat-list-item role="listitem">Appointment 1</mat-list-item>
        <mat-list-item role="listitem">Appointment 2</mat-list-item>
        <mat-list-item role="listitem">Appointment 3</mat-list-item>
      </mat-list>
    </div>
    <div class="body-cell" fxFlex>
      <mat-list role="list">
        <mat-list-item role="listitem">Appointment 1</mat-list-item>
        <mat-list-item role="listitem">Appointment 2</mat-list-item>
        <mat-list-item role="listitem">Appointment 3</mat-list-item>
      </mat-list>
    </div>
    <div class="body-cell" fxFlex>
      <mat-list role="list">
        <mat-list-item role="listitem">Appointment 1</mat-list-item>
        <mat-list-item role="listitem">Appointment 2</mat-list-item>
        <mat-list-item role="listitem">Appointment 3</mat-list-item>
      </mat-list>
    </div>
    <div class="body-cell" fxFlex>
      <mat-list role="list">
        <mat-list-item role="listitem">Appointment 1</mat-list-item>
        <mat-list-item role="listitem">Appointment 2</mat-list-item>
        <mat-list-item role="listitem">Appointment 3</mat-list-item>
      </mat-list>
    </div>
    <div class="body-cell" fxFlex>
      <mat-list role="list">
        <mat-list-item role="listitem">Appointment 1</mat-list-item>
        <mat-list-item role="listitem">Appointment 2</mat-list-item>
        <mat-list-item role="listitem">Appointment 3</mat-list-item>
      </mat-list>
    </div>
    <div class="body-cell" fxFlex>
      <mat-list role="list">
        <mat-list-item role="listitem">Appointment 1</mat-list-item>
        <mat-list-item role="listitem">Appointment 2</mat-list-item>
        <mat-list-item role="listitem">Appointment 3</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

