<div fxLayout="row" fxLayoutAlign="center center">
  <div class="signup-container card-shadow" fxFlex="1 1 800px">
    <div class="header">Sign Up</div>
    <div class="content">
      <form style="background-color:#FFF;" fxLayout="column">
        <mat-form-field fxFlex="1 1 auto">
          <input matInput type="text" placeholder="First Name" name="first name" formControlName="fn" aria-label="first name" required>
        </mat-form-field>
        <mat-form-field fxFlex="1 1 auto">
          <input matInput type="text" placeholder="Last Name" name="last name" formControlName="ln" aria-label="last name" required>
        </mat-form-field>
        <mat-form-field fxFlex="1 1 auto">
          <input matInput type="email" placeholder="Email" name="email" formControlName="email" aria-label="email" required>
        </mat-form-field>
        <mat-form-field fxFlex="1 1 auto">
          <input matInput type="text" placeholder="Password" name="password" formControlName="password" aria-label="password" required>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>
