<div class="signup-container glass glass-shadow">
  <div class="header">Sign Up</div>
  <form class="content" (ngSubmit)="signUp()" [formGroup]="signupForm" fxLayout="column" fxLayoutGap="5px">
    <mat-form-field fxFlex="1 1 auto">
      <input matInput type="text" placeholder="First Name" name="first name" formControlName="fn" aria-label="first name" required>
    </mat-form-field>
    <mat-form-field fxFlex="1 1 auto">
      <input matInput type="text" placeholder="Last Name" name="last name" formControlName="ln" aria-label="last name" required>
    </mat-form-field>
    <mat-form-field fxFlex="1 1 auto">
      <input matInput type="email" placeholder="Email" name="email" formControlName="email" aria-label="email" required>
    </mat-form-field>
    <mat-form-field fxFlex="1 1 auto">
      <input matInput type="text" placeholder="Password" name="password" formControlName="password" aria-label="password" required>
    </mat-form-field>
    <mat-form-field fxFlex="1 1 auto">
      <input matInput type="text" placeholder="Patient Name" name="patient name" formControlName="pname" aria-label="patient name" required>
    </mat-form-field>
    <mat-checkbox color="primary" formControlName="agreeHipaa">I agree to the <a class="hipaa-link" (click)="openDialog($event)">HIPAA Privacy Authorization Form</a></mat-checkbox>
    <button class="sign-up-btn" type="submit" mat-raised-button color="primary">Sign Up</button>
  </form>
</div>
