.signup-container {
  background-color: #000;
  opacity: 0.4;
  margin: 30px;
  height: 800px;

  .header {
    font-size: 35px;
    color: #FFF;
    padding: 15px;
    text-align: center;
  }

  .content {
    padding: 30px;
  }
}