<div class="content">
  <div class="user-header" fxLayout="row wrap" [ngStyle.xs]="{'margin-top': '0px'}" [ngStyle.sm]="{'margin-top': '0px'}">
    <div class="user-info-container" fxLayout="row" fxFlex>
      <div class="photo-container" fxFlex="1 1 150px">
        <div class="user-img drop-shadow" [ngStyle]="{'background-image': userPhoto}" [ngStyle.xs]="{'width': '75px', 'height': '75px'}" [ngStyle.sm]="{'width': '100px', 'height': '100px'}"></div>
      </div>
      <div class="user-info">
        <div class="user-name">{{caretaker?.NameFirst}} {{caretaker?.NameLast}}</div>
        <a class="user-clinic" [routerLink]="['/clinic/1']">CareLine Clinic</a>
      </div>
      <div class="user-rating">
        
      </div>
    </div>
  </div>
  <div class="user-content" fxLayout="column wrap">
    <div fxFlex>
      <div fxLayout="row wrap">
        <div class="note-section" fxFlex [ngStyle.xs]="{'margin-left': '12px', 'margin-right': '6px'}" [ngStyle.sm]="{'margin-left': '15px', 'margin-right': '15px'}">
          <div fxLayout="column">
            <div class="header" fxLayout="row" fxFlex="1 1 auto">
              <div class="module-logo medical" fxFlex="0 0 75px">
                <fa-icon [icon]="faComment" size="3x" [inverse]="true"></fa-icon>
              </div>
              <div class="header-text-inverse" fxFlex="1 1 auto">Feedback</div>
              <button type="button" class="create-btn" mat-raised-button color="primary" (click)="addRating()">Add</button>
            </div>
            <mat-divider style="width: 100%"></mat-divider>
            <div class="content" fxFlex="1 1 auto">
              <div fxLayout="row wrap">
                <div class="note-box-new" *ngIf="showNewFeedback" fxFlex="50">
                  <form (ngSubmit)="createRating()" [formGroup]="feedbackForm" fxLayout="column" fxLayoutGap="5px">
                    <mat-form-field>
                      <input matInput type="text" placeholder="Title" formControlName="title">
                    </mat-form-field>
                    <mat-form-field>
                      <textarea matInput cdkTextareaAutosize placeholder="Feedback" formControlName="desc"></textarea>
                    </mat-form-field>
                    <app-star-rating [rating]="newFeedback.rating" (ratingClick)="getRating($event)"></app-star-rating>
                    <div class="footer" fxLayout="row" fxLayoutGap="30px">
                      <button type="button" mat-stroked-button fxFlex="1 1 auto" (click)="cancelAddRating()">Cancel</button>
                      <button type="submit" mat-flat-button fxFlex="1 1 auto" color="primary">Save</button>
                    </div>
                  </form>
                </div>
                <div class="note-box" *ngFor="let comment of comments" fxFlex="50">
                  <div class="title">{{comment.title}}</div>
                  <mat-divider class="divider"></mat-divider>
                  <p class="body">{{comment.desc}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>