<div>
  <h2 style="text-align: center">CareLine HIPAA Privacy Authorization Form</h2>
  <h4 style="text-align: center">**Authorization for Use or Disclosure of Protected Health Information**</h4>
  <h5 style="text-align: center">(Required by the Health Insurance Portability and Accountability Act, 45 C.F.R. Parts 160 and 164)**</h5>
  <div class="section">
    <h4><b>1. Authorization</b></h4>
    <p>
      I authorize <b>CareLine</b> (Web Application) to use and disclose the protected health	information described below.
    </p>
    <p>
      I authorize my health care and medical service providers and payers to disclose and release my protected health information to <b>CareLine</b>.
    </p>
  </div>
  <div class="section">
    <h4><b>2. Extent of Authorization</b></h4>
    <p>
      I authorize the release of my complete health record (including records relating to mental healthcare, communicable diseases, HIV or AIDS, treatment of alcohol or drug abuse, lab tests, prognosis, treatment, and billing, for all conditions).
    </p>
    <p>
      This medical information may be used by <b>CareLine</b> and the existing parties (Caretakers and Family Members) within the application that I authorize to receive.
    </p>
  </div>
  <div class="section">
    <h4><b>3. Purpose of Use</b></h4>
    <p>
      The purpose of this use or disclosure is to allow <b>CareLine</b> to provide an additional
    </p>
  </div>
  <div class="section">
    <h4><b>4. Validity</b></h4>
    <p>
      This authorization for release of information covers the period of healthcare from all past, present and future periods
    </p>
  </div>
  <div class="section">
    <h4><b>5. Acknowledgement</b></h4>
    <p>
      I understand that the information used or disclosed under this Authorization Form may be subject to re-disclosure by the user or facility receiving it and would then no longer be protected by federal or state privacy regulations.
    </p>
    <p>
      I understand that I have the right to refuse to agreeing to this Authorization form. If I refuse to sign this Authorization form, I understand that my treatment will not be conditioned, but I will not longer be able to enroll with <b>CareLine</b>.
    </p>
    <p>
      I understand that if signed, I have the right to revoke this authorization in writing, at any time.
    </p>
    <p>
      I understand that any action already take in reliance on this authorization cannot be reversed, and my revocation will not affect those actions.
    </p>
  </div>
</div>
<div class="close-container">
  <button mat-flat-button color="primary" (click)="onNoClick()">Close</button>
</div>
