<div class="content">
  <div class="clinic-header" fxLayout="row wrap" [ngStyle.xs]="{'margin-top': '0px'}" [ngStyle.sm]="{'margin-top': '0px'}">
    <div class="clinic-info-container" fxLayout="row" fxFlex="1 2 auto">
      <div class="photo-container" fxFlex="1 1 150px">
        <div class="clinic-img drop-shadow" [ngStyle]="{'background-image': clinicPhoto}" [ngStyle.xs]="{'width': '75px', 'height': '75px'}" [ngStyle.sm]="{'width': '100px', 'height': '100px'}"></div>
      </div>
      <div class="clinic-info">
        <div class="clinic-name">{{clinic?.ClinicLongName}}</div>
        <div class="clinic-sub-info">{{clinic?.ClinicAddress}}</div>
        <div class="clinic-sub-info">{{clinic?.ClinicPhone}}</div>
      </div>
    </div>
  </div>
  <div class="section-container">
    <app-card-list [type]="'caretaker'" [admin]="true"></app-card-list>
  </div>
  <div class="section-container">
    <app-card-list [type]="'patient'" [admin]="true"></app-card-list>    
  </div>
</div>