.clinic-header {
  margin: 36px 12px 15px 12px;
  padding: 15px;
  display: flex;

  .clinic-info-container {
    .photo-container {
      margin-right: 15px;
      flex: 0 1 auto;

      .clinic-img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background-image: url('/assets/images/clinic/carelineclinic.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 2px solid #61da97;
      }
    }

    .clinic-info {
      flex: 1 1 auto;
      align-self: flex-start;
      padding-left: 12px;
    }

    .clinic-name {
      font-size: 35px;
      font-weight: 600;
      color: #FFF;
      text-shadow: 1px 1px 1px #000;
      margin: 12px 0px 12px 0px;
    }

    .clinic-sub-info {
      font-size: 22px;
      color: #FFF;
      text-shadow: 1px 1px 1px #000;
    }
  }
}


.section-container {
  margin: 30px;
}