<div class="login-container glass glass-shadow">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="header" fxFlex>Login</div>
  </div>
  <form class="content" (ngSubmit)="login()" [formGroup]="loginForm" fxLayout="column" fxLayoutGap="5px">
    <mat-form-field fxFlex="1 1 auto">
      <input matInput type="text" placeholder="Username" name="username" formControlName="username" aria-label="username" required>
    </mat-form-field>
    <mat-form-field fxFlex="1 1 auto">
      <input matInput type="text" placeholder="Password" name="password" formControlName="password" aria-label="password" required>
    </mat-form-field>
    <button class="sign-up-btn" type="submit" mat-raised-button color="primary">Login</button>
  </form>
</div>