<div fxLayout="row">
  <div class="banner-img">
    <h1>Care you can count on</h1>
  </div>
</div>
<div class="dash-container" fxLayout="row" fxLayoutGap="12px">
  <mat-card class="role-card" fxFlex="1 1 auto">
    <mat-card-title>Nurse</mat-card-title>
    <img mat-card-img src="">
    <mat-card-content></mat-card-content>
  </mat-card>
  <mat-card class="role-card" fxFlex="1 1 auto">
    <mat-card-title>Patient</mat-card-title>
    <img mat-card-img src="">
    <mat-card-content></mat-card-content>
  </mat-card>
  <mat-card class="role-card" fxFlex="1 1 auto">
    <mat-card-title>Family</mat-card-title>
    <img mat-card-img src="">
    <mat-card-content></mat-card-content>
  </mat-card>
</div>