<div>
  <div class="banner-img">
    <h1 class="header-top">Your Line to Care, <b>Right Away</b></h1>
    <h4 class="header-bottom">CareLine is a web application designed to increase the amount of communication between the family, their relatives in long term care situations, and the facility’s caretakers. CareLine does not provide the care ourselves; instead, we offer a platform to give families a direct line of communication.</h4>
    <div class="header-actions">
      <span>
        <button mat-raised-button color="primary" [routerLink]="['/login']">Login</button>
      </span>
      <span><b>or</b></span>
      <span>
        <button mat-raised-button [routerLink]="['/signup']">Sign Up</button>
      </span>
    </div>
  </div>
</div>
<div class="section-container">
  <h2 class="section-header">CareLine at a Glance</h2>
  <div class="card-container" fxLayout="row wrap" fxLayoutAlign="space-around">
    <mat-card class="role-card" fxFlex="1 1 auto;">
      <mat-card-title>Caretaker</mat-card-title>
      <img mat-card-image src="/assets/images/stock/doctor-stock.jpg" class="monochrome" alt="caretaker image">
      <mat-card-content>
        <p>CareLine provides a wide variety of tools that allow each caretaker to easily record their patients health status, medications and any further treatment the patient may need.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="role-card" fxFlex="1 1 auto">
      <mat-card-title>Patient</mat-card-title>
      <img mat-card-image src="/assets/images/stock/patient-stock.jpg" class="monochrome" alt="patient image">
      <mat-card-content>
        <p>CareLine provides patients a place to check all of their medical information and records so they can feel comfortable knowing they are getting the best possible care. </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="role-card" fxFlex="1 1 auto">
      <mat-card-title>Family</mat-card-title>
      <img mat-card-image src="/assets/images/stock/family-stock.jpg" class="monochrome" alt="family image">
      <mat-card-content>
        <p>CareLine provides families peace of mind by giving each family tools to keep in contact with their family member being cared for as well as a place to view notes and records taken by the caretaker.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="banner-img long">
  <h1 class="header-sub">The CareLine Advantage</h1>
  <div class="img-container">
    <img src="/assets/images/logos/CareLineAdvantage.png" alt="careline advantage image">
  </div>
</div>
<div class="section-container">
  <h2 class="section-header">Designed and Built With</h2>
  <div class="card-container" fxLayout="row" fxLayoutAlign="space-evenly">
    <div fxFlex>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="tech-col-header">
          <h1>Front-End</h1>
        </div>
        <mat-card class="role-card logo-card" fxFlex="1 1 auto">
          <a href="https://angular.io/">
            <img mat-card-image src="/assets/images/logos/angular.png" class="logo" alt="Angular logo">
          </a>
          <mat-card-content style="text-align: center;">
            <p>Angular</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="role-card logo-card" fxFlex="1 1 auto">
          <a href="https://material.io/design/">
            <img mat-card-image src="/assets/images/logos/materialdesign.png" class="logo" alt="Material Design logo">
          </a>
          <mat-card-content style="text-align: center;">
            <p>Material Design</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="role-card logo-card" fxFlex="1 1 auto">
          <a href="https://www.typescriptlang.org/">
            <img mat-card-image src="/assets/images/logos/typescript.png" class="typescript" alt="Typescript logo">
          </a>
          <mat-card-content style="text-align: center;">
            <p>TypeScript</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxFlex>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="tech-col-header">
          <h1>Back-End</h1>
        </div>
        <mat-card class="role-card logo-card" fxFlex="1 1 auto">
          <a href="https://nodejs.org/en/">
            <img mat-card-image src="/assets/images/logos/nodejs.png" class="nodejs" alt="NodeJS logo">
          </a>
          <mat-card-content style="text-align: center;">
            <p>NodeJS</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="role-card logo-card" fxFlex="1 1 auto">
          <a href="https://www.fastify.io/">
            <img mat-card-image src="/assets/images/logos/fastify.png" class="fastify" alt="Fastify logo">
          </a>
          <mat-card-content style="text-align: center;">
            <p>Fastify</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="role-card logo-card" fxFlex="1 1 auto">
          <a href="https://typeorm.io/#/">
            <img mat-card-image src="/assets/images/logos/typeorm.png" class="logo" alt="typeorm logo">
          </a>
          <mat-card-content style="text-align: center;">
            <p>TypeORM</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxFlex>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="tech-col-header">
          <h1>Server</h1>
        </div>
        <mat-card class="role-card logo-card" fxFlex="1 1 auto">
          <a href="https://www.digitalocean.com/">
            <img mat-card-image src="/assets/images/logos/digitalocean.png" class="logo" alt="digitalocean logo">
          </a>
          <mat-card-content style="text-align: center;">
            <p>Digital Ocean</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="role-card logo-card" fxFlex="1 1 auto">
          <a href="https://www.microsoft.com/en-us/sql-server/default.aspx">
            <img mat-card-image src="/assets/images/logos/mssql.png" class="logo" alt="mssql logo">
          </a>
          <mat-card-content style="text-align: center;">
            <p>Microsoft SQL Server</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="section-footer">
  <div>CareLine Technology</div>
  <div>Copyright &copy; 2019</div>
</div>
